$dark-bg: hsl(207, 26%, 17%);
$dark-elements: hsl(209, 23%, 22%);
$dark-text: hsl(0, 0%, 100%);
$light-bg: hsl(0, 0%, 98%);
$light-elements: hsl(0, 0%, 100%);
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$shadow-light: #ccc;
$shadow-dark: rgb(19, 21, 46);
$box-shadow: 0 0 3px var(--shadow-color);
$border-radius: 3px;
$padding-side: 4rem;
$lg-breakpoint: 1024px;
$med-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;